@font-face {
  font-family: 'SansPro';
  src: url('../ASSETS/fonts/SourceSansPro-Light.ttf');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body html {
  margin: 0px;
  padding: 0px;
  height: 100%;

}

.header {
  height: 150px;
  background-color: #D6EDFF;

}

#logo{
  height: 40px;
  margin-top: 20px;
  float: left;
}

#play {
  cursor: pointer;
}

#mute {
  cursor: pointer;
}

.column {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  height: 100vh;
  background-color: #D6EDFF;

}

.page.column {
  height: 100vh;
  width: 100%;

}

#Top-line {
  display: flex;
}

#logo-holder {
  flex-grow: 1;
}

#logo-holder img {
  height: 30px;
  width: 150px;
  margin: 0 10px;
  margin-bottom: 20px;
}

#social-holder {
  flex-grow: 1;
  text-align: right;
}

#social-holder a img {
  height: 24px;
  width: 24px;
  margin: 20px;

}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, blue, azure);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
}

.menu a {
  text-decoration: none;
  color: darkblue;
}

#learnButton {
  cursor: pointer;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: darkblue;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.container h1,
h2 {
  color: blueviolet;
  text-align: center;
}
.container h1{
  font-size: 2.0em;
  font-weight: bold;
}

#services h2 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 20px 10px;
  }

.container img {
  width: 100%;

}

.container h1 span {
  color: blueviolet;
  text-decoration: none;
  padding: 10px;
  background-color: #D6EDFF;
  border: 1px solid blueviolet;
  border-radius: 2px;
  transition: background-color 0.4s;
  font-size: 2em;
}

.container p {
  padding: 30px 0;
  font-size: 1.0em;

}

.container button {
  color: blueviolet;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #D6EDFF;
  border: 1px solid blueviolet;
  border-radius: 20px;
  transition: background-color 0.4s;
  font-size: 1em;
}

.container button:hover {
  background-color: #1292EE;
  color: #fff;
  border: 1px solid #002651;
}

#services h2 {
  padding-top: 40px;
  font-size: 1.7em;

}

#services {
  color: blueviolet;
  background-color: #D6EDFF;
}

.service-row {
  display: flex;
  margin-bottom: 40px;

}
.service-row p{
  font-size: 1.0em;
  font-weight: bold;

}

.service-row>div {
  flex-grow: 1;
  text-align: center;
  position: relative;
}
#aboutus h2{
  font-size: 1.7em;
  font-weight: bold;
  padding-top: 20px;

}
#aboutus p{
  font-size: 1.0em;
  padding: 40px 20px;
}

#portofolio {
  color: blueviolet;
  background-color: #D6EDFF;

}

.portofolio-row {
  display: flex;
  margin-bottom: 40px;
  gap: 15px;
}
#portofolio h2 {
  padding: 10px 0;
  font-size: 1.7em;
  font-weight: bold;
}
#portofolio h3 {
  padding: 5px 0;
  font-size: 1.4em;
  font-weight: bold;
  color: blueviolet;
}
.portofolio-row div {
  flex-grow: 1;
  text-align: center;
  position: relative;
}
#lifecycle h2{
  padding: 10px 0;
  font-size: 1.7em;
  font-weight: bold;
  color: blueviolet;
}
#lifecycle h3 {
  padding: 10px 0;
  font-size: 1.4em;
  font-weight: bold;
  color: blueviolet;
}

#lifecycle ul li{
  padding: 5px 0;
  font-size: 1.0em;
}
#lifecycle p{
  padding: 5px;
  font-size: 1.0em;
}
#lifecycle ol li{
  padding: 5px 0;
  font-size: 1.0em;
}
#lifecycle img {
  width: 100%;
  height: 40%;

}
#contact p{
  padding: 2px 0;
  font-size: 0.8em;  
}
#contact h2 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 5px;
}

#contact {
  color: #002651;
}
#contact img {
  width: 100%;
  height: 40%;
  
}
#contact button {
width: 80%;
cursor: pointer;
margin: 0 auto;
background-color:blue;
  color: #FFF;
}
form{
  display: flex;
  width:19%;
  flex-flow: row wrap;
  margin-left: 130px;
  text-align: center;
  gap: 5px;
  font-size: 0.8em;
  margin: 0 auto;
}
label{
  text-align: center;
}
input{
  border: none;
  padding-top: 2px;
 
}
label{
  margin-top: 2px;
  font-weight: 600;
  font-size: 1em;
}
#name{
  margin-left: 76px;
}

#email{
margin-left: 60px;
}
#subject{
  margin-left: 60px;
  }
  #message{
    margin-left: 37px;
    }

textarea{
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
}


textarea:hover{
 
  background-color: #EBECF0;
  cursor: pointer;
  transition: 1s all;
}
input:hover{
 
  background-color: #EBECF0;
  cursor: pointer;
  transition: 1s all;
}

#site-footer {
  border-top: 1px solid #002651;
  background-color: aquamarine;
  border-bottom: 1px solid #002651;
  height: 220px;
  color: #002651;
  padding: 70px;
  font-size: 15px;
  }
  #site-footer p{
    font-size: 1.0em;
    padding: 5px;
  }


body {
  background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
  overflow-x: hidden;
}

.ocean {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6000px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}



@media (max-width: 480px) {
  #seo2img {
    width: 100%
  }

  .column {
    height: 100%;
    margin-bottom: 20px;

  }
  
  .container h2 {
    font-size: 17px;
    font-weight: bold;
    }

  .container {
    width: 100%;
    padding: 10px;
  }

  .wave {
  display: none;
  }

  .column img {
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
  }

  .column h2 {
    padding-left: 0;
    margin-bottom: 0px;
    font-size: 17px;
    padding-top: 10px;
}

  .column p {
    padding: 30px 0;
    font-size: 13px;
  }



  body {
    width: 100%;
    text-align: center;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  #social-holder {
    display: none;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
    display: none;

  }

  #menu-toggle:checked~.menu li {
    border: 1px solid darkblue;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    display: block;

  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: aquamarine;

  }

  .menu>li a:last-child(6) {
    text-decoration: none;
    display: none;
  }

  .container a img {
    width: 30%;
  }
  .ocean {
  display: none;
  }

  .service-row {
    flex-flow: row wrap;
    gap: 50px;
  }


  .service-row img {
    width: 300px;
    padding: 0px 10px;
  }

  .portofolio-row {
    flex-flow: row wrap;
    gap: 50px;
    
  }
  .portofolio-row div {
      flex-grow: 1;
      text-align: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0px 10px;
    }

  .portofolio-row img {
    width: 100%;
    padding: 20px;
  }
  .container h1 {
    font-size: 20px;
    padding: 0;
    margin-top: 100px;
    padding-top: 40px;
    font-weight: bold;
    }
  
  .container p {
    padding: 30px 0;
    font-size: 13px;
  }
  .container h1, h2 {
    color: blueviolet;
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
    margin-top: 20px;
  
  }
  #services h2 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 17px;
  }
  .content{
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 13px;
  }
  .column h3
  {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 15px;
  }

  .column .portoflolio-row {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
  }

  .column .portoflolio-row div {
    width: 100px;
  }
  

.service-row p {
  font-size: 13px;
}
#portofolio h3 {
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: blueviolet;
}
#aboutus h2{
  font-size: 17px;
  font-weight: bold;
}
#aboutus p {
  font-size: 13px;
  padding: 0px 10px;
}

#lifecycle h2{
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
  color: blueviolet;
}

  #lifecycle h3{
    padding: 10px 0;
    font-size: 15px;
  }
  #lifecycle ul li{
    padding: 5px 0;
    font-size: 13px;
  }
  #lifecycle p{
    padding: 5px 0;
    font-size: 13px;
  }
  #lifecycle ol li{
    padding: 5px 0;
    font-size: 13px;
  }
  #lifecycle  img {
    margin: 0 auto;
    padding: 20px;
  }
  #contact{
    padding: 5px;
    
  }
  
  #contact h2 {
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
  }
  #site-footer{
    padding: 10px;
    font-size: 13px;
  }

#logo{
  width: 100%;
  padding-left: 10%; 
}
  #logo-holder img {
    height: 50px;
    width: 200px;
    margin: 0 10px;
    margin-bottom: 20px;
  }

#contact img {
  margin: 0 auto;
  padding: 20px;
}

#contact button {
  height: 100%;
  width: 40%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color:blue;
  color: #FFF;
  }
 
  
  form{
    display: flex;
    width:19%;
    flex-flow: row wrap;
    margin-left: 130px;
    text-align: center;
    gap: 10px;
    font-size: 13px;
    margin: 0 auto;
}
label{
  text-align: center;
}
input{
  border: none;
  padding: 5px;
 
}
label{
  margin-top: 10px;
  font-weight: 400;

}
#name{
  margin-left: 76px;
}

#email{
margin-left: 60px;
}
#subject{
  margin-left: 60px;
  }
  #message{
    margin-left: 37px;
    }

textarea{
  margin: 0 auto;
  margin-bottom: 10px ;
  border: none;
}

textarea:hover{
 
  background-color: #EBECF0;
  cursor: pointer;
  transition: 1s all;
}
input:hover{
 
  background-color: #EBECF0;
  cursor: pointer;
  transition: 1s all;
}
#site-footer {
  border-top: 1px solid #002651;
  background-color: aquamarine;
  height: 220px;
  color: #002651;

}
#site-footer p{
  font-size: 0.7em;
}
}
