*{
    box-sizing: border-box;
}
body html {
    margin: 0px;
    padding: 0px;
}

.column{
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;
    height: 100vh; 
}
#Top-line{
    display: flex;
}
#logo-holder{
    flex-grow: 1;
}

#logo-holder img{
    height: 60px;
    width: 200px;
    margin: 20px;
}
#social-holder{
    flex-grow: 1;
    text-align: right;
}
#social-holder a img{
height: 24px;
width: 24px;
margin: 20px;

}

#main-menu{
    display: flex;
}
#main-menu a {
    flex-grow: 1;
    text-align: right;
    display: block;
    padding: 30px;
    text-decoration: none;
    color: blueviolet;
    transition: 300ms;
}
#main-menu a:hover{
    background: blueviolet;
    color: #fff;
}


